doctype html
html
  head
    title Login Registartion page
    style
      include ../static/style.css
  body
        h1 Login / Registartion
  .center
    a.button(href ="/login") login
    a.button(href='/register') Registartion
