@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Ubuntu:wght@500&display=swap");

*{
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 30px auto;
    padding: auto;
    background-color: #f5f5f5;
    width: 50%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%; /* Responsive width */
    max-width: 400px; /* Maximum width for larger screens */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  